html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.product-img {
    height: 10px; /* Fixed height for all product images */
    width: 10px; /* Make it fill the card width */
    object-fit: contain; /* Ensures the whole image is visible, scales down if needed */
    padding: 1rem; /* Add some padding inside the image area */
    background-color: #f8f9fa; /* Light background for consistency */
}
/* Ensure the card takes full height of its column */
.product-card {
    display: flex;
    flex-direction: column;
}

    .product-card .card-body {
        flex-grow: 1; /* Allows body to take up remaining space */
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Pushes content to the bottom if cards have different amounts of text */
    }